/*Aplicando CSS global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
 width: 100%;
}

video {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
/*Aplicando CSS al encabezado*/
header {
    /*border: 1px solid red*/
    position: fixed;
    width: 100%;
    background-color: #00425A4D;
    z-index: 10;
}

#portada {
    font-size: 2rem;
    color: #EFF5F5;
    margin-left: ;
    font-weight: bolder;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #00425A ;
}

.navbar-toggler {
    margin: 10px;
}


/*aplicando CSS a la seccion quienes somos*/

#QuienesSomos {
}

/*Aplicando comportamiento resposive*/
/*Comportamiento para tablet*/
@media (min-width: 768px) {
    /*aplicando CSS al encabezado*/

#menu {
 text-align: center;
 padding-top: 10px;
}

#opciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
}

/*comportamiento para dispositivo más grande*/
@media (min-width: 1200px) {

}