/*Aplicando CSS global*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; /*Un clásico en cualquier página, da suavidad al scroll*/
} 

img {
 width: 100%;
}

video {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #00425A;
}

.titulosSecciones {
    font-weight: bold;
    color: #FC7300;
}

/*Aplicando CSS al encabezado*/


header {
    /*border: 1px solid red*/
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #00425A4D;
}

#portada {
    font-size: 2rem;
    color: #EFF5F5;
    font-weight: bolder;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #00425A ;
}

.navbar-toggler {
    margin: 10px;
}

.opciones {
    color: #FC7300;
}

/*aplicando CSS al banner*/

#banner {
    padding-top: 60px;
    width: 100vw;
    height: 40vh; /*modificar esto para que se vea bien en pc, 90vh*/
    background-image: url(/multimedia/img/banner1.jpg);
    background-size: cover;
    text-align: center;
}
#LemaTotal {
    width: 80%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}
.lema {
    font-weight: bold;
    color:#FC7300;
    font-size: 2em;
    border: 2px solid #00425A;
    border-radius: 20px;
    background-color: #EFF5F5;
} 

/*Seccion quienes somos*/

#QuienesSomos {
    padding-top: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid #EFF5F5;
    border-radius: 20px;
    margin: 30px;
    color: #EFF5F5;
    scroll-margin-top: 3.8em;
}


/*Seccion por que elegirnos*/

#elegirnos {
    padding-top: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid #EFF5F5;
    border-radius: 20px;
    margin: 30px;
    color: #EFF5F5;
    scroll-margin-top: 3.8em
}

/*Seccion Propuesta educativa*/

#carouselExampleCaptions {
    width: 80vw;    
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    filter: invert(108%);
}

#Propuesta {
    text-align: center;
}

/*Aplicando CSS al footer*/

#footer {
  background-color: #00425A;
  color: #EFF5F5;
}

#mapa {
    text-align: center;
    padding-top: 10px;
}

#tituloUbicacion {
    font-weight: bold;
}

iframe {
    padding: 20px;
}


/*Aplicando CSS al contacto*/

#bodyContacto {
 background-color: #EFF5F5;
}

main {
    padding-top: 70px;
    padding-left: 10px;
    text-align: center;
}

form {
    padding-top: 10px;
}


fieldset input {
    width: 90%;
}

fieldset textarea {
    width: 90%;
}

#botonContacto {
    margin-top: 10px;
    background-color: #00425A;
    color: #EFF5F5;
}






/*Aplicando comportamiento resposive*/
/*Comportamiento para tablet*/
@media (min-width: 768px) {
    /*aplicando CSS al encabezado*/

#menu {
 text-align: center;
 padding-top: 10px;
}

#opciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
}

/*comportamiento para dispositivo más grande*/
@media (min-width: 1200px) {

}