/*Aplicando CSS global*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; /*Un clásico en cualquier página, da suavidad al scroll*/
} 

img {
 width: 100%;
}

video {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #EFF5F5;
}

.titulosSecciones {
    font-weight: bold;
    color: #FC7300;
    text-align: center;
}

/*Aplicando CSS al encabezado*/

header {
    /*border: 1px solid red*/
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #00425A4D;
}

#portada {
    font-size: 2rem;
    color: #EFF5F5;
    font-weight: bolder;
}

#img-portada {
    width: 40px;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #00425A ;
}

.navbar-toggler {
    margin: 10px;
}


/*aplicando CSS al banner*/

#banner {
    padding-top: 60px;
    width: 100vw;
    min-height: 40vh; /*modificar esto para que se vea bien en pc, 90vh*/
    /*background-image: url(../multimedia/img/banner1.jpg);*/
    max-height: 90vh;
    background-size: cover;
    text-align: center;
}
#LemaTotal {
    width: 80vw;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}
.lema {
    font-weight: bold;
    color:#FC7300;
    font-size: 2em;
    border: 2px solid #00425A;
    border-radius: 20px;
    background-color: #EFF5F5;
} 

/*Lo siguiente es una clase para las secciones*/
.secciones {
    padding:10px;
    margin: 30px;
    scroll-margin-top: 3.8em;
}

/*Seccion quienes somos*/

#QuienesSomos {
    border: 3px solid #181823;
    border-radius: 20px;
    color: #181823;
}


/*Seccion por que elegirnos*/

#elegirnos {
    border: 3px solid #181823;
    border-radius: 20px;
    color: #181823;
}

/*Seccion Propuesta educativa*/

#carouselExampleCaptions {
    width: 80vw;    
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    filter: invert(108%);
}

.carousel-caption {
    color: #181823;
    font-weight: bolder;
    text-shadow: 1px 0px 25px rgba(0, 0, 0, 1);
}

/*Seccion Noticias*/
.card {
    margin: auto auto;
}

.card-body {
    background-color: #FC7300;
    font-weight: bold;
}

/*Aplicando CSS al footer*/

footer {
  background-color: #00425A;
  color: #EFF5F5;
  padding-top: 10px;
}

#redes a {
    font-size: 2rem;
}

#mapa {
    text-align: center;
    width: 80%;
    margin: auto auto;
}

#haciaArriba {
    font-size: 2rem;
}

/*Aplicando CSS a la página contacto*/

#bodyContacto {
 background-color: #EFF5F5;
}

main {
    padding-top: 70px;
    text-align: center;
}

form {
    padding-top: 10px;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;

}

label {
    display: block;
}

input, textarea {
    width: 100%;
    margin-top: 0.5rem;
}


#botonContacto {
    font-weight: bold;
    margin-top: 10px;
    background-color: #00425A;
    color:#EFF5F5;
}

.labels {
    font-weight: bold;
    display: block;
    margin-top: 0.5rem;
}








/*Aplicando comportamiento resposive*/
/*Comportamiento para tablet*/
@media (min-width: 768px) {


#menu {
 text-align: center;
 padding-top: 10px;
}

#opciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#LemaTotal
{
    max-width: 40%;
}
}

#redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   

#mapa {
    text-align: center;
}

#haciaArriba {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*comportamiento para dispositivo más grande*/
@media (min-width: 1200px) {

#banner {
    background-position-y: 750px;
}

 #LemaTotal {
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
 }

 #carouselExampleCaptions {
    width: 60vw;    
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption {
    color: #181823;
    font-weight: bolder;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  } 

}